*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Stick No Bills', sans-serif;
}

body{
    background-image: url(../assets/Login/ninja\ hd.jpg);
}

h1, h2, h3, h4, h5, h6 {
    color: #fff;
}
a, a:hover, a:focus, a:active {
    text-decoration: none;
    outline: none;
}
ul {
    margin: 0;
    padding: 0;
    list-style: none;
}


#about{
    margin-top: 50px;
}
.section_all {
    position: relative;
    padding-top: 80px;
    padding-bottom: 80px;
    min-height: 100vh;
    background-image: url(../assets/Login/ninja\ hd.jpg);
}
.section-title {
    font-weight: 700;
    text-transform: capitalize;
    letter-spacing: 1px;
}

.section-subtitle {
    letter-spacing: 0.4px;
    line-height: 28px;
    max-width: 550px;
}

.section-title-border {
    background-color: #000;
    height: 1 3px;
    width: 44px;
}

.section-title-border-white {
    background-color: #fff;
    height: 2px;
    width: 100px;
}
.text_custom {
    color: #00bd2a;
}

.about_icon i {
    font-size: 22px;
    height: 65px;
    width: 65px;
    line-height: 65px;
    display: inline-block;
    background: #fff;
    border-radius: 35px;
    color: #00bd2a;
    box-shadow: 0 8px 20px -2px rgba(158, 152, 153, 0.5);
}

.about_header_main .about_heading {
    max-width: 450px;
    font-size: 24px;
}

.about_icon span {
    position: relative;
    top: -10px;
}

.about_content_box_all {
    padding: 28px;
}

#padreFooters{
    height: 50px;
}


.icono-about{
    width: 60px;
    height: 60px;
    border-radius: 50%;
}



#pick-nico{
    width: 250px;
    height: 250px;
    border-radius: 100%;
}

#pick-nico:hover{
    border: 2px solid cyan;
}


#Roro-pittaro{
    width: 30%;
    height: 30%;
}

#Roro-pittaro:hover{
    border: 2px solid palevioletred;
}

#Guille-Alonso{
    width: 250px;
    height: 250px;
    border-radius: 100%;
}

#Guille-Alonso:hover{
    border: 2px solid yellow;
}

#Florencia-gomez{
    width: 30%;
    height: 30%;
}

#Florencia-gomez:hover{
    border: 2px solid cyan;
}


#Stella{
    width: 250px;
    height: 250px;
    border-radius: 100%;
}

#Stella:hover{
    border: 2px solid green;
}

.pick-team{
    color: #fff;
}

.pick-team:hover{
    color:orange;
}

.salto{
    width: 100%;
    border: 3px solid cyan;
}