.h1{
  font-family: 'Stick No Bills', sans-serif;
}
#item{
  font-family: 'Stick No Bills', sans-serif;
  text-align: center;
  text-decoration: none;
  color: #d1faf4;
  font-size: 20px;
  letter-spacing: 3px;
}


#item:hover {
  color: red;
  }

  .play {
      padding: 10px 15px;
      background-color: #000;
      border: none;
      font-size: 18px;
      position: relative;
      overflow: hidden;
      transition: 500ms;
    }
    
    .play span {
      font-family: 'Stick No Bills', sans-serif;
      color: white;
      position: relative;
      transition: 500ms;
      transition-delay: 500ms;
      font-size: 16px;
      text-transform: uppercase;
      letter-spacing: 2px;
      font-weight: 600;
    }
    
    .play:before {
      content: '';
      position: absolute;
      width: 0%;
      height: 0%;
      left: 50%;
      right: 50%;
      top: 50%;
      bottom: 50%;
      transition: 500ms;
      transition-delay: 500ms;
      background-color: red;
      box-shadow: 0 0 10px red,
       0 0 30px red, 
       0 0 50px red;
    }
    
    .play div {
      transition: 500ms;
      position: absolute;
      background-color: red;
      box-shadow: 0 0 15px red, 0 0 30px red, 0 0 50px red;
    }
    
    .play .top {
      width: 15px;
      height: 2px;
      top: 0;
      left: 0;
    }
    
    .play .bottom {
      width: 15px;
      height: 2px;
      bottom: 0;
      right: 0;
    }
    
    .play .left {
      width: 2px;
      height: 15px;
      top: 0;
      left: 0;
    }
    
    .play .right {
      width: 2px;
      height: 15px;
      bottom: 0;
      right: 0;
    }
    
    .play:hover {
      color: #000;
    }
    
    .play:hover span {
      color: #000;
    }
    
    .play:hover:before {
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
    }
    
    .play:hover .top, 
    .play:hover .bottom {
      width: 100%;
    }
    
    .play:hover .left,
    .play:hover .right {
      height: 100%;
    }
    
    .containerInput {
      font-family: 'Stick No Bills', sans-serif;
      background-color: #000;
      position: relative;
      overflow: hidden;
      margin: 0;
      padding: 0 0 4px 0;
      z-index: 1;
      font-size: 15px;
    }
    
    .containerInput::before {
      content: '';
      width: 110%;
      aspect-ratio: 1;
      position: absolute;
      inset: 0 0 0 0;
      margin: auto;
      animation: rotate6234 2.5s ease-in-out infinite;
      z-index: -1;
      background-image: conic-gradient(from 0deg at 50% 50%, #073AFF00 0%, #FF0000FF 25%, #073AFF00 25%);
    }
    
    .containerInput > input {
      width: 210px;
      height: 50px;
      font-size: inherit;
      color: #fff;
      border: none;
      padding: 12px;
      background-color: #0a0a0a;
      outline: 5px solid #0a0a0a;
    }
    
    .containerInput > input:focus {
      outline: none;
    }
    
    .containerInput > input:not(:placeholder-shown) {
      outline: none;
    }
    
    .containerInput > input:not(:placeholder-shown):valid {
      outline: 4px solid rgb(0, 255, 183);
      border-radius: 0;
    }
    
    @keyframes rotate6234 {
      from {
        transform: rotate(0deg);
      }
    
      to {
        transform: rotate(360deg);
      }
    }